[user]
	email = bultman.ben@pm.me
	name = Ben Bultman

[init]
	defaultBranch = master

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[advice]
    skippedCherryPicks = false

[includeIf "hasconfig:remote.*.url:git@ak:akindgroup/**"]
	path = ~/.config/akind.gitconfig
