[language-server.terraform-ls]
command = "terraform-ls"
args = ["serve"]

[[language]]
name = "typescript"
formatter = { command = 'prettierd', args = [".ts"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "tsx"
formatter = { command = 'prettierd', args = [".tsx"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "javascript"
formatter = { command = 'prettierd', args = [".js"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "jsx"
formatter = { command = 'prettierd', args = [".jsx"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "json"
formatter = { command = 'prettierd', args = [".json"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "css"
formatter = { command = 'prettierd', args = [".css"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "html"
formatter = { command = 'prettierd', args = [".html"] }
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] } ]
auto-format = true

[[language]]
name = "markdown"
text-width = 120

[[language]]
name = "rust"
language-servers = [ { name = "rust-analyzer" } ]

[[language]]
name = "hcl"
language-servers = [ "terraform-ls" ]
language-id = "terraform"

[[language]]
name = "tfvars"
language-servers = [ "terraform-ls" ]
language-id = "terraform-vars"

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }

[[language]]
name = "sql"
indent = { tab-width = 2, unit = " " }
