[Unit]
Description=Ramdisk serialization service

[Service]
Type=Oneshot
ExecStop=/usr/bin/env bash /mnt/main/ramdisk-serialize.sh /mnt/ram/code /mnt
StandardOutput=journal

[Install]
WantedBy=default.target
