[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 'swaylock -f -F -e -k -c 540d37' before-sleep 'swaylock -f -F -e -k -c 540d37'
Restart=on-failure
